<!DOCTYPE html>
<html ng-app="HomeApp">
<head>
  <title>AngularTreeDirective</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
<script src="/assets/angularjs/home.js"></script>

</body>


</html>
